body {
  background-color: #33ccff;
}

.center {
  text-align: center;
  font-family: "Courgette"
}

.weather_field_outputs {
  font-size : 25px;
  margin: 20px;
}

.field_name_size {
  font-size: 18px;
}

.myfieldclass {
  border-color: black;
  background-color: white;
  border-radius: 10px;
  font-family: "Courgette";
  font-size: 15px;
}

.user_instructions {
  font-size: 25px;
}

a:link, a:visited {
  color: #ffff00;
}

h1 {
  color: #ffff00;
}

hr {
      background-color: yellow;
      border: solid 8px black;
      height: 8px;
      width: 1000px;
}

/* The id's for the input fields, can be found using developer tools*/

/* This is for the labels on the add city page, for the city name and country code*/
label[for="id_city"], label[for="id_country"] {
  font-size: 18px;
}

/* This is for the labels on the user registration page. */
label[for="id_username"], label[for="id_first_name"], label[for="id_last_name"],
label[for="id_email"], label[for="id_password1"], label[for="id_password2"] {
  font-size: 18px;
}

#id_city {
   width: 250px;
   height: 30px;
   margin: 10px;
 }

#id_country {
    width: 150px;
    height: 30px;
    margin: 10px;
  }

#input_button, #login_button, #logout_button, #register_button {
  color: red;
  background-color: yellow;
  font-family: "Courgette";
  font-size: 17px;
  margin: 10px;
}
