{% extends 'weatherApp/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <form method = "POST" >
      {% csrf_token %}
      {{ form.as_p}}
      <input type = "submit" value = "Add Location" id = "input_button" >
    </form>
    <p class = "user_instructions"> {{ notice }} </p>
    {% for weather in weathers %}
      <hr>
      <h1> {{ weather.city }}, {{ weather.country }} </h1>
      <div class = 'weather_field_outputs'>
        <p> {{ weather.temp }} &#8457; </p>
        <p> {{ weather.desc }} </p>
        <img src = "http://openweathermap.org/img/w/{{ weather.icon }}.png">
        <p> Time Checked: {{ weather.time }} </p>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
